# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Vaccination.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kevin\Desktop\Proyecto POO-BD\proyecto-final-grupo-16\Programacion Orientada a objetos\Vaccination\.idea\.idea.Vaccination.dir\.idea/dataSources/
/dataSources.local.xml
